extends ../template/main

block variables
	- var title = 'Template - First page'

block content

	.container#container

block script
	//- script(type="importmap").
	//- 	{
	//- 		"imports": {
	//- 			"three": "../build/three.module.js",
	//- 			"three/addons/": "./jsm/"
	//- 		}
	//- 	}
